@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Raleway');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}
body{
    background: #ddd;
}

.header-content{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    backface-visibility: hidden;
}

.header{
    background:#389583;
    color: #ffffff;
}
.clock{
    width: 300px;
    border: 5px solid #05396B;
    background: #21242E;
    color: honeydew;
    font-size: 30px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    padding: 30px;
    position: relative;
    font-family: 'Raleway', sans-serif;

}
.clkhead{
    width:195px;
    background: #05396B;
    color: #fff;
    position: absolute;
    top: -20px;
    left: 50px;
}